.project-container {
  margin: 0rem auto;
  color: black;
}

.project-section {
  margin: 0 auto;
  padding: 2rem 4rem;
  max-width: 65%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project-section h2 {
  font-size: 3rem;
  margin-bottom: 0.4rem;

  text-align: center;
  grid-column: 1/ -1;
}

.project-section img {
  max-width: 50%;
}

.project-section h3 {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.project-section p {
  font-size: 20px;
  font-weight: 300;
}

.project-one {
  display: flex;
  grid-column: 1/-1;
  flex-direction: row-reverse;
  gap: 2rem;
  padding: 2rem 0rem;
}

.project-two {
  display: flex;
  grid-column: 1/-1;
  gap: 2rem;
  padding: 2rem 0rem;
}

.project-three {
  display: flex;
  grid-column: 1/ 3;
  gap: 2rem;
  flex-direction: row-reverse;
  padding: 2rem 0rem;
}

.project-buttons {
  margin-top: 1rem;
}

.live-link {
  margin-right: 1rem;

  padding: 0.5rem;
  border: none;
  background: #701040;
  color: white;
  font-weight: bold;
}

.live-link:hover {
  background: #b888a0;
}

.github-link {
  padding: 0.5rem;
  border: none;
  background: #030836;
  color: white;
  font-weight: bold;
}

.github-link:hover {
  background: #9a9caf;
}

@media screen and (max-width: 750px) {
  .project-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 0rem 3rem;
    max-width: 90%;
  }

  .project-one {
    display: flex;
    flex-direction: column;
  }

  .project-two {
    display: flex;
    flex-direction: column;
  }

  .project-three {
    display: flex;
    flex-direction: column;
  }

  .project-section img {
    max-width: 100%;
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (min-width: 751px) and (max-width: 1024px) {
  .project-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 0rem 3rem;
    max-width: 90%;
  }

  .project-one {
    display: flex;
    flex-direction: column;
  }

  .project-two {
    display: flex;
    flex-direction: column;
  }

  .project-three {
    display: flex;
    flex-direction: column;
  }

  .project-section img {
    max-width: 100%;
  }
}
