.project-section {
  /* display: flex; */

  /* justify-content: center;
  flex-direction: column; */
  padding: 0rem 6rem;
  margin: 4rem 6rem;
  color: black;
}

.project-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.project-right {
  flex: 1;
  position: relative;
}

.project-section h2 {
  font-size: 3rem;
  margin-bottom: 0.4rem;

  display: flex;
  justify-content: center;
}

.project-section h3 {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.project-section p {
  font-family: "Roboto", sans-serif;
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
}

.project-section img {
  width: 25%;
}

.project {
  display: flex;
  flex-direction: column;
}

.project-content {
  flex: 1;
  flex-direction: column;
}

.right {
  display: flex;
  justify-content: end;
}
/* img {
  width: 350px;
  height: 200px;
} */
