.project-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0rem auto;
  color: black;
  /* border: 5px solid green; */
}

.project-section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 4rem auto;
  /* border: 5px solid red; */
  max-width: 95rem;
}

.project-section h2 {
  font-size: 3rem;
  margin-bottom: 0.4rem;

  text-align: center;
}

.project-section img {
  max-width: 30%;
}

.project-section h3 {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.project-section p {
  font-family: "Roboto", sans-serif;
}

.project-one {
  display: flex;
  float: left;
  gap: 2rem;
  margin: 2rem 0rem;
}
.project-one__content {
  display: flex;
  flex-direction: column;
  float: right;
}

.project-two {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
}

.project-two__content {
  display: flex;
  flex-direction: column;
  float: right;
}

.project-three {
  display: flex;
  float: left;
  gap: 2rem;
  margin: 2rem 0rem;
}

.project-three__content {
  display: flex;
  flex-direction: column;
  float: right;
}

.project-buttons {
  margin-top: 1rem;
}

.live-link {
  margin-right: 1rem;

  padding: 0.5rem;
  border: none;
  background: #701040;
  color: white;
  font-weight: bold;
}

.github-link {
  padding: 0.5rem;
  border: none;
  background: #030836;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .project-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 0rem 3rem;
  }

  .project-one {
    display: flex;
    flex-direction: column;
  }

  .project-two {
    display: flex;
    flex-direction: column;
  }

  .project-three {
    display: flex;
    flex-direction: column;
  }

  .project-section img {
    max-width: 100%;
  }
}
