.about-container {
  background-color: #701040;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0rem auto;
  width: 100%;
}

.about-section {
  color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 4rem auto;
  padding: 0rem 4rem;

  max-width: 95rem;
}

.about-section h2 {
  font-size: 3rem;
  margin-bottom: 0.4rem;

  text-align: center;
}

.about-section p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
}

.tech-section {
  padding: 1rem 3rem;
  margin: 1rem 3rem;
}

.icon-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  filter: brightness(0) invert(1);
}

.icon-section img {
  max-width: 50rem;
}

.tech-icon {
  height: 50px;
  width: 50px;

  margin: 0rem 1rem;
}

@media screen and (max-width: 479px) {
  .about-section {
    padding: 2rem 2rem;
    margin: 0rem 0rem;
    max-width: 80%;
  }
  .about-section h2 {
    font-size: 2rem;
  }

  .tech-icon {
    height: 25px;
    width: 25px;
  }
}

@media screen and (min-width: 480px) and (max-width: 644px) {
  .about-section {
    padding: 0rem 1rem;
  }
  .about-section h2 {
    font-size: 2rem;
  }

  .tech-icon {
    height: 30px;
    width: 30px;
  }
}

@media screen and (min-width: 645px) and (max-width: 750px) {
  .about-section h2 {
    font-size: 2.5rem;
  }

  .tech-icon {
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-width: 751px) and (max-width: 1024px) {
  .about-section h2 {
    font-size: 2.5rem;
  }

  .tech-icon {
    height: 45px;
    width: 45px;
  }
}
