.header-section {
  display: flex;

  justify-content: center;
  padding: 4rem 6rem;
  /* margin: 4rem 6rem; */
}

.header-font {
  margin: 15rem 14rem;
  color: white;
}

.header-font h1 {
  align-items: center;
  font-size: 5rem;
}

.header-font p {
  font-family: "Roboto", sans-serif;
  line-height: 0;
  font-size: 18px;
}

.header-image {
  width: 400px;
  height: 390.06px;
  margin-top: 5rem;
  margin-right: 20rem;
}
