.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 4rem 8rem;
  margin: 0rem auto;
}

.header-font {
  color: white;
}

.header-font h1 {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: -1.5px;
}

.header-font p {
  line-height: 1.25;
  font-size: 20px;
  font-weight: 300;
  overflow-wrap: break-word;
}

.header-image {
  width: 31em;
  height: auto;
}

@media screen and (max-width: 479px) {
  .header-section {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
  }

  .header-font h1 {
    font-size: 2rem;
  }
  .header-font p {
    font-size: 15px;
  }

  .header-image {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 644px) {
  .header-section {
    display: flex;
    flex-direction: column;
  }

  .header-font h1 {
    font-size: 2.5rem;
  }
  .header-font p {
    font-size: 15px;
  }

  .header-image {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 645px) and (max-width: 750px) {
  .header-section {
    display: flex;
    flex-direction: column;
  }

  .header-font h1 {
    font-size: 3rem;
  }
  .header-font p {
    font-size: 18px;
  }

  .header-image {
    margin-left: 5rem;
    width: 65%;
    height: auto;
  }
}

@media screen and (min-width: 751px) and (max-width: 1024px) {
  .header-image {
    width: 65%;
    height: auto;
  }
}
