.header-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  padding: 0rem 1rem;
  margin: 0rem auto;
  /* border: 5px solid green; */
}

.header-section {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem 6rem;
  margin: 4rem auto;

  /* border: 5px solid red; */
}

.header-font {
  color: white;
}

.header-font h1 {
  font-size: 4rem;
}

.header-font p {
  font-family: "Roboto", sans-serif;
  line-height: 0;
  font-size: 18px;
}

.header-image {
  width: 400px;
  height: 390.06px;
}
