.navbar {
  padding-top: 1rem;
}

.navbar-menu {
  display: flex;

  justify-content: space-between;
  margin: 0rem 5rem;
}

.navbar-links {
  display: flex;

  justify-content: flex-end;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  color: white;
}

.navbar a {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin-left: 1rem;
}

@media screen and (max-width: 644px) {
  .logo {
    font-size: 20px;
  }

  .navbar a {
    font-size: 10px;
  }
}
