.navbar {
  display: flex;

  justify-content: space-between;
  margin: 2rem 2rem;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  color: white;
}

.navbar a {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: white;
}
