.end-section {
  display: flex;

  justify-content: space-between;
  padding: 0rem 6rem;
  margin: 2rem 0rem;
  color: white;
  font-size: 10px;
}

@media screen and (max-width: 751px) {
  .end-section {
    font-size: 8px;
  }
}
