.end-section {
  display: flex;

  justify-content: space-evenly;
  padding: 1rem 6rem;
  color: white;
  font-size: 10px;
}

@media screen and (max-width: 751px) {
  .end-section {
    font-size: 8px;
  }
}
