* {
  /* background: #365668; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hero-section {
  background-image: url(./assets/5172658.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
}

.about-section {
  background-color: #e02882;
}

.footer-section {
  background-image: url(./assets/5172658.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 50vh;
}
